{% extends 'base.html.twig' %}

{% block title %}Travelix - Contact{% endblock %}

{% block body %}
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Contact</h1>
                <p class="text-center">Page contact en cours de développement...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
