{% extends 'base.html.twig' %}

{% block title %}Travelix - Éléments{% endblock %}

{% block body %}
<div class="elements">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Éléments</h1>
                <p class="text-center">Page éléments en cours de développement...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
