{% extends 'base.html.twig' %}

{% block title %}Travelix - Offres{% endblock %}

{% block body %}
<div class="offers">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Nos Offres</h1>
                <p class="text-center">Page offres en cours de développement...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
