{% extends 'base.html.twig' %}

{% block title %}Travelix - Détail{% endblock %}

{% block body %}
<div class="single_listing">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Détail de l'offre</h1>
                <p class="text-center">Page détail en cours de développement...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
